@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria:#1f1e1e;
    --cor-secundaria: #3F4F44;
    --cor-terciaria: #A27B5C;
    --cor--branco: #DCD7C9;

    --font-titulo: "Krona One", serif;
    --font-texto: "Montserrat", serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    box-sizing: border-box;
    color: #ffffff;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
}


.cabecalho{
    background-color: var(--cor-secundaria);
    height: auto;
    width: 100%;
    padding: 2% 15%;
    display: flex;
    justify-content: flex-start;
}
.cabecalho__menu{
    display: flex;
    gap: 11%;
}
.cabecalho__menu__link{
    font-family: "Montserrat",serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--branco);
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    text-decoration: none;
}
.cabecalho__menu__link:hover{
    color: var(--cor-primaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", serif;
}
.nome {
    font-family: "Montserrat", serif;
    font-size: 48px;
    background-image: linear-gradient(to right, #029b32, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.texto {
    font-size: 24px;
    font-family: "Montserrat", serif; 
    margin-bottom: 5px;
}
.foto__index {
    width: 100%;
    border-radius: 20px;
    max-width: 500px;
    object-fit: cover;
}
.apresentacao__links__subtitulo{
    font-family: "Krona One", serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}
.apresentacao__links{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__botao-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 300px; /* Define um tamanho adequado */
    padding: 21.5px 0;
    font-size: 1.5rem;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor--branco);
    font-family: "Montserrat", serif;
    font-weight: 600;
    background-color: var(--cor-secundaria);
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    margin-bottom: 30px;
    gap: 2vh;
}
.apresentacao__botao-contato:hover {
    box-shadow: 0 0 40px 40px var(--cor--branco) inset;
    color:var(--cor-primaria);
}
.apresentacao__link__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid, var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--branco);
    font-family: "Montserrat", serif; 
    font-weight: 600;
    gap: 2vh;
    background-color: var(--cor-secundaria);
}
.apresentacao__link__botao:hover{
    box-shadow: 0 0 40px 40px var(--cor--branco) inset;
    color: var(--cor-primaria);
}
.footer{
    padding: 10px;
    height: auto;
    color:var(--cor--branco);
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
    border-top:var(--cor-terciaria) 1px solid;
    font-size: 1rem;
}
.botao-curriculo{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    padding: 21.5px 0;
    font-size: 24px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--cor--branco);
    font-family: "Montserrat", serif;
    font-weight: 600;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid var(--cor-secundaria);
    gap: 2vh;
    margin-top: 4vh;
}
.botao-curriculo:hover{
    box-shadow:0 0 40px 40px var(--cor--branco) inset;
    color: var(--cor-primaria);
}
.superior{
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #252525;
    gap: 2vh;
}
.superior__conteudo{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap:2vh;
}
.superior__icons{
    display: flex;
    gap: 3vh;
}
.foto__sobre{
    height: auto;
    border-radius: 50%;
    border: 30px solid #3a3a3a;
}
.texto__curriculo{
    flex-flow: column;
    align-items: center;
    padding: 50px 15%;
}
ul{
    font-family: "Montserrat", serif;
    margin-left: 20px;
    margin-bottom: 19px;
    font-size: 20px;
}
.titulo__formacao{
    font-family: var(--font-titulo);
    font-size: 30px;
}
.titulo__lista{
    font-family: var(--font-titulo);
    font-size: 20px;
    padding: 4vh 0 0 0 ;
    font-size: 30px;
}
.texto1__curriculo{
    font-family: var(--font-texto);
    font-size: 20px;
    line-height: 2;
}
.texto__projeto{
    font-family: var(--font-texto);
    margin-top: 2vh;
    font-size: 20px;
    line-height: 2;
}
/* responsive */
@media (max-width: 1200px){
    .cabecalho__menu{
        flex-direction: column;
        gap: 1vh;
        margin:10% 0 5% 0;
        }
    .apresentacao{
        padding: 10%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        font-size: 2.5vh;
        text-align: center;
    }
    .texto{
        font-size: 1.25vh;
        text-align: center;
    }
    .foto__index{
        max-width: 30vh;
        display: block;
        margin: 0 auto;
        width: auto;
    }
    .foto__sobre{
        max-width: 40vh;
    }
    .nome{
        font-size: 36px;
        text-align: center;
        line-height: 1.2;
    }
    .superior{
        display: flex;
        flex-direction: column;
    }

    .superior__conteudo{
        align-items: center;
        text-align: center;
    }
    .superior__icons{
        justify-content: center;
    }
    .foto__sobre{
        width: auto;
        max-width: 30vh;
        margin-top: 2vh;
    }
}
